.spell-slots {
  display: inline-flex;
  margin-left: 1rem;

  &__button {
    @include button;

    &:hover {
      box-shadow: $shadow-hover;
      cursor: pointer;
      transform: translateY(-1px);
    }

    &--minus {margin-right: 1rem;}
    &--plus  {margin-left: 1rem;}
  }

  &__spells {
    width: 100px;
  }
}