.spell {
  padding: 2rem;
  margin-top: 2rem;

  &__row {
    display: flex;
    align-items: center;
  }

  &__name {

  }

  &__casting-time {
    margin-right: 1rem;
  }

  &__school {
    text-transform: capitalize;
    fill: $text-color;
    display: flex;
    align-items: center; 
  }
  
  &__classes {
    text-transform: capitalize;
    fill: $text-color;
    display: flex;
    align-items: center; 
  }

  &__range {
    margin-right: 1rem;
  }

  &__duration {
    margin-right: 1rem;
  }

  &__description {
    // background-color: red;
    border-bottom: 1px solid #DDD;
    border-radius: 3px;
    border-top: none;
    border: 1px solid transparent;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
    margin: 0 -2rem;
    padding: 1rem 3rem;

    &--hidden {
      display: none;
      height: 0;
    }
  }

  &:hover {
    transition: 0.3s;
    box-shadow: $shadow-hover;
  }
}

.nav-indicator {
  path {
    fill: none;
    stroke: $text-color;
    stroke-linecap: round;
    stroke-width: 2;
    stroke-dasharray: 29 40;
    transition: stroke-dashoffset .3s;
  }

  &--active {
    path {
      stroke-dashoffset: -15;
    }
  }
}