.spell-level {
  display: inline-flex;
  flex-direction: column;
  text-align: center;
  // display: inline-flex;
  margin-left: auto;
  padding: 1rem 0;
  
  &__container {
    display: flex;
    align-items: center;
    margin: 0 auto;
  }

  &__button {
    @include button;

    &--minus {margin-right: 1rem;}
    &--plus {margin-left: 1rem;}
  }

  &__level {
    color: $dark-blue;
    text-align: center;
    width: 7rem;
  }
}