.icon {
  &__delete {
    margin-left: auto;

    svg {
      $size: 3rem;
      height: $size;
      width: $size;
      fill: $text-color;
    }

    &:hover {
      cursor: pointer;
      path {
        transition: 0.2s;
        fill: $dark-red;
      }
    }
  }
}