$shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
$shadow-hover: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);

$text-color: #566375;
$header-color: darken($text-color, 20%);

$background-color: #F6F9FC;