$shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
$shadow-hover: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);



// Colors
$text-color: #566375;
$header-color: darken($text-color, 20%);
$background-color: #F6F9FC;

$red: #FF6B81;
$dark-red: #FF4757;
$green: #7BED9F;
$dark-green: #2ED573;
$blue: #70A1FF;
$dark-blue: #1E90FF;
$pink: #FF9FF3;
$dark-pink: #F368E0;
$purple: #5F27CD;
$dark-purple: #341F97;