.spell-slot {
  $diameter: 2rem;

  background-image: linear-gradient(160deg, #E8F0F7, #87B7E8);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), inset 0px 0px 0px 3px rgba(255, 255, 255, 1);
  border-radius: 100%;
  display: inline-block;
  height: $diameter;
  width: $diameter;
}