.spell-search-container {
  display: inline;
}

.spell-search {
  display: inline-flex;
  justify-content: center;
  z-index: 1;

  &__input {
    // box-shadow: $shadow;
    margin-right: 2rem;
    background-color: #FFF;
    padding: 1rem;
    font-size: 1.9rem;
    border-bottom: 2px $dark-blue solid;
    max-width: 10rem;

    &:focus {
      transition: 0.3s;
      box-shadow: $shadow-hover;
    }
  }
}

.spell-search-btn {
  align-items: center;
  background-color: #FFF;
  border-bottom: 0.2rem $dark-blue solid;
  // box-shadow: $shadow;
  cursor: pointer;
  display: inline-flex;
  padding: 1rem 1.5rem 1rem 1rem;
  transition: 0.3s;

  &:hover {
    box-shadow: $shadow-hover;
    transform: translateY(-2px);

    .spell-search-btn__tome {
      color: $dark-blue;
    }

    svg {
      fill: $dark-blue;
      transform: translateX(6px);
    }
  }

  &__text-container {
    color: $text-color;
  }

  svg {
    display: none;
    margin-left: 3rem;
    transition: 0.3s;
    fill: $text-color;
  }

  &__add-to {
    color: $header-color;
  }

  &__tome {
    font-size: 1.5rem;
    text-transform: uppercase;
    transition: 0.3s;
    text-align: center;
  } 
}

@media only screen and (min-width: 562px) {
  .spell-search-btn {
    svg {
      display: initial;
    }

    &__tome {
      text-align: left;
    } 
  }
}